<body>
  <main class="d-flex pt-4">
    <section class="d-flex justify-content-between">
      <div class="padding-right">
        <h3>Achievements</h3>
      </div>

      <div>
        <ng-template [ngIf]="false" [ngIfElse]="loggedOut">
          
        </ng-template>

        <ng-template #loggedOut>
      
        </ng-template>

        <ol>
          <li></li>
        </ol>
        <ul>
          <li>
            <p>
            "Recognized as a Dean's Lister for outstanding academic performance in BSIT major in Web development during 1st semester/2021 - 2022"
            Certificate Of Academic Excellence 2021 - 2022
            </p>
          
        </ul>
      </div>
    </section>
  </main>
</body>
